<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/common-head"/>
</head>
<body>
<nav th:include="fragments/common-navbar"/>

<section class=jumbotron">
    <h3>User registration</h3>
    <form action="/submit" method="post">
        <div class="container">
            <table>
                <tr><input th:value="${editableUser.getId()}" th:name="id" hidden/>
                    <td><label><b>Email</b></label></td>
                    <td><input type="email" th:value="${editableUser.getEmail()}" th:name="email" required></td>
                </tr>
                <tr>
                    <td><label><b>First name</b></label></td>
                    <td><input type="text" th:value="${editableUser.getFirstName()}" th:name="firstName" required></td>
                </tr>
                <tr>
                    <td><label><b>Last name</b></label></td>
                    <td><input type="text" th:value="${editableUser.getLastName()}" th:name="lastName" required></td>
                </tr>
                <tr>
                    <td><label><b>Age</b></label></td>
                    <td><input type="number" th:value="${editableUser.getAge()}" th:name="age" required></td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-success" th:text="Submit" type="submit"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>
</title>
</head>

</body>
</html>