<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common-head"/>
</head>
<body>
<nav th:include="fragments/common-navbar"/>
<div>
    <a class="btn btn-default" th:href="@{/logout}">Logout</a>
</div>
<section>
    <div>
        <h2>User list:</h2>
    </div>
    <table class="table">
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Age</th>
        <tr th:each="userData : ${userList}">
            <td th:text="${userData.getId()}"/>
            <td th:text="${userData.getFirstName()}"></td>
            <td th:text="${userData.getLastName()}"></td>
            <td th:text="${userData.getEmail()}"></td>
            <td th:text="${userData.getAge()}"></td>
            <td><a class="btn btn-default" th:href="@{'/editUser/' + ${userData.getId()}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/deleteUser/'+ ${userData.getId()}}">Delete</a></td>
        </tr>
    </table>
</section>


</body>
</html>