<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common-head"/>
</head>
<body>
<h3>Login</h3>

<div class="jumbotron">
    <div th:if="${param.error}">
        Invalid credentials!
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>

    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td><label th:text="Email"/></td>
                <td><input type="text" th:name="username"></td>
            </tr>
            <tr>
                <td><label th:text="Password"/></td>
                <td><input type="password" th:name="password"/></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success" th:text="Submit"></button>
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>